/* common */
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  color: #4a4a4a;
  line-height: 1.5;
  background-color: #fff;
}

h1,h2,h3,h4 {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

h1{
  font-size: 28px;
}

h2{
  font-size: 28px;
  text-align: center;
}

h3{
  font-size: 18px;
  text-align: center;
}

a{
  text-decoration: none;
}

a:hover{
  opacity: 0.7;
}

ul{
  padding: 0;
  margin: 0;
}

li{
  list-style: none;
}


/* header */
header{
  font-size:20px;
  font-weight: bold;
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  height: 10vh;
  background-color: #333366		;
  z-index: 10;
}

.header-wrapper{
  display:flex;
  justify-content: space-between;
  color:#fff;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}

header ul{
  display:flex;
}

header li{
  padding:0 20px;
  
}


/* main visual */
.main-visual{
  height: 60vh;
  margin-top: 10vh;;
  background-image: url(img/jonas-vincent-xulIYVIbYIc-unsplash.jpg);
  background-size: cover ;
  background-position:50% 45%;
  position: relative;
}

.main-visual:before{
  background-color: rgba(0,0,0,0);
  position: absolute;
  content: ' ';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.main-visual h2{
  color:#fff;
  text-align: center;
  top:15%;
  left:45%;
  position: absolute;
  line-height: 2;
  font-weight: bold;
  font-size:40px;
}

.introduction{
  
  align-items: center;
  height: 70vh;
  background-color: #FFF ;
  padding:100px 50px;
  color: #333366;
  background-image: url(img/niji.png);
  /* background-size: cover ; */
  background-color:rgba(255,255,255,0.6);
  background-blend-mode:lighten;
  background-repeat: no-repeat;
  background-position: center ;
  text-align: center;
}

.introduction h2{
  font-size: 40px;
}

.introduction p{
  padding-top:20px;
  font-size:25px;
}


/* contents */
.contents{
  padding:100px 50px;
  background-color: #FFEEFF;
 
  height: 90vh;
  color: #333366;
}

.contents-wrapper h2{
  font-size: 40px;
}

.contents-box {
  display: flex;
  justify-content: space-between;
  padding:30px 0;
}

.contents-card {
  width: 30%;
  
}

.contents-card img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.contents-card h2 {
  padding-top:15px;
  font-size: 30px;
}

.contents-card p {
  padding-top: 20px;
  margin-top:0;
  font-size: 25px;
}

.QA{

  padding:100px 30px;
  background-image: url(img/768.png);
  background-size: cover ;
  background-color:rgba(255,255,255,0.6);
  background-blend-mode:lighten;
  color: #333366;
}

.QA>h2{
  padding: 20px 0 30px;
  font-size:40px;
}

.QA-wrapper{
  padding: 50px 100px;
}

.QA-box:nth-child(n + 2) {
  padding: 20px;
}

.QA-box>p {
  padding-top: 10px;
  font-size: 20px;
}


form {
  padding: 100px 30px;    
}

form>h2{
  color: #333366;
  font-size:35px
}

.form-wrapper {
  text-align: center;
  padding-top: 40px;
}

.form-wrapper p {
  font-weight: bold;
  color: #333366;
  font-size: 22px;
  text-align: center;
  margin-bottom: 10px;
}

.form-box {
  padding-top:10px;
 
}



.box {
  height:30px;
  width:300px;
  font-size: 100%;
  text-align: left;
}

.question {
  width: 300px;
  height: 100px;
  font-size:100%;
}

.submit-btn {
  text-align: center;
  width: 80px; 
  margin: 0 auto;
}


.button{
  display: inline-block; 
  border-radius: 10%;
  cursor:pointer;
  padding:10px 40px;
  margin-top: 20px;
  background: #333366;
  color:#fff;
  font-size: 20px;
  
  box-shadow: 3px 3px 2px #666666;
  
}

.button:hover {
  box-shadow:none;
  background:#333366;
  color:#fff;
  opacity:0.8;
}

.button:active {
  transform:translateY(2px)
}


footer{
  
  height: 10vh;
  background-color: #333366		;
  text-align: center;
}

footer p{
  color:white;
  padding: 20px 0;
}